<main class="main-content" *ngIf="students.length > 0; else loading">
  <div class="container">
    <div class="student-img">
      <img
        class="arrow-logo"
        src="../assets/logos/arrow - Copy.png"
        (click)="previousStudent()"
        alt="Image description"
      />
      <img
        class="student-pic"
        [src]="students[currentStudentIndex].image"
        alt="Student Image"
      />
      <img
        class="arrow-logo"
        src="../assets/logos/arrow.png"
        (click)="nextStudent()"
        alt="Image description"
      />
    </div>
    <div class="student-info">
      <div class="student-origin">
        <h2>{{ students[currentStudentIndex].name }}</h2>
        <img
          class="student-country"
          [src]="students[currentStudentIndex].country.image"
          alt="Country Flag"
        />
      </div>
      <p class="student-description">
        {{ students[currentStudentIndex].description }}
      </p>
    </div>
    <div class="contact">
      <img src="../assets/logos/contact-logo.png" alt="WhatsApp logo" />
      <p>{{ students[currentStudentIndex].phoneNumber }}</p>
    </div>
  </div>
</main>
<ng-template #loading>
  <div>Loading...</div>
</ng-template>
