<div class="header-content">
    <img src="../assets/logos/erasmus-logo.png" alt="Erasmus+ Logo" />
</div>
<div class="menu">
    <div class="slogan">
    <h1>Explora el mundo, expande tu mente - Erasmus!</h1>
    </div>
    <div class="menu-icon">
    <img src="../assets/logos/menu-icon.png" alt="Menu Icon" />
    </div>
    <nav class="nav-menu">
    <ul>
        <li><a href="#">Students</a></li>
        <li><a href="#">Apartments</a></li>
        <li><a href="#">Country</a></li>
    </ul>
    </nav>
</div>