<div class="menu-container">
  <div class="menu-icon">
    <img src="../assets/logos/menu-icon.png" alt="Menu Icon" />
  </div>
  <nav>
    <ul>
      <li>
        <div class="dropdown">
          <img src="../assets/logos/menu-icon.png" alt="Menu Icon" />
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/student">Student</a></li>
            <li><a routerLink="/universities">Universities</a></li>
            <li><a routerLink="/apartments">Apartments</a></li>
            <li><a routerLink="/country">Country</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</div>
