
  <body>
    <main>
      <div class="main-img">
        <img src="../assets/home-page-imgs/main-img.jpg" alt="Students" />
      </div>
      <div class="main-news">
        <div class="news-title">
          <h1 class="news-title-res">Qué hay de nuevo</h1>
          <div class="line-title"></div>
        </div>
        <div class="news-info">
          <div class="news-info-panel">
            <img
              src="../assets/home-page-imgs/news-students.jpg"
              alt="Twitter Logo"
            />
            <p class="news-info-desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s,when an unknown printer took a galley of type
              and scrambled it to make a type specimen book. It has survived not
              only five centuries, but also the leap into electronic
              typesetting, remaining essentially unchanged
            </p>
          </div>
          <div class="news-info-panel">
            <img
              src="../assets/home-page-imgs/news-travel.jpg"
              alt="Twitter Logo"
            />
            <p class="news-info-desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s,when an unknown printer took a galley of type
              and scrambled it to make a type specimen book. It has survived not
              only five centuries, but also the leap into electronic
              typesetting, remaining essentially unchanged
            </p>
          </div>
          <div class="news-info-panel">
            <img
              src="../assets/home-page-imgs/news-vlog.png"
              alt="Twitter Logo"
            />
            <p class="news-info-desc">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s,when an unknown printer took a galley of type
              and scrambled it to make a type specimen book. It has survived not
              only five centuries, but also the leap into electronic
              typesetting, remaining essentially unchanged
            </p>
          </div>
        </div>
      </div>
    </main>
   
