<div class="apartments-container">
  <div class="apartments-images">
    <a
      *ngFor="let apartment of displayedApartments"
      [routerLink]="['/apartment', apartment.key]"
    >
      <img [src]="apartment.image" [alt]="apartment.address" />
    </a>
  </div>
</div>
<div class="pagination">
  <img
    class="arrow-logo-apartment arrow-logo-apartment-margin"
    src="../assets/logos/arrow - Copy.png"
    (click)="changePage(currentPage - 1)"
    alt="Image description"
  />

  <img
    class="arrow-logo-apartment"
    src="../assets/logos/arrow.png"
    (click)="changePage(currentPage + 1)"
    alt="Image description"
  />
</div>
