/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: "Open Sans", sans-serif;
}

/* Header */
.header-content {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-bottom: 10px;
}
.header-content img {
  height: 60px;
}

.menu {
  background-color: rgba(0, 0, 139, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  padding: 0 30px;
}
.slogan h1 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-right: auto;
}
.menu-icon {
  background-color: rgba(0, 0, 139, 0);
}
.menu-icon img {
  height: 30px;
  cursor: pointer;
  filter: brightness(1000%);
}
.nav-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}
.nav-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.nav-menu li {
  list-style: none;
  margin: 10px 0;
}
.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}
.nav-menu li a:hover {
  color: #b4aee8;
}

.main-content {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/* Home Page */
.main-img {
  margin-bottom: 40px;
}
.main-img img {
  width: 100%;
  height: 650px;
}

.main-news {
  background-color: rgba(0, 0, 139, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin-bottom: 40px;
}
.news-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.news-title h1 {
  margin-bottom: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line-title {
  width: 60%;
  height: 2px;
  justify-content: center;
  background-color: #f1f7b5;
  transform: translateY(-50%);
  margin-bottom: 30px;
}
.news-info {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.news-info-panel {
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}
.news-info-panel img {
  width: 100%;
  height: 50%;
  margin-bottom: 15px;
}
.news-info-panel p {
  text-align: center;
}
/* Apartment */

.image-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-wrapper img {
  width: 450px;
  height: 300px;
}

.logo-wrapper {
  width: 50px; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
}

.logo-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact,
.address {
  margin-top: 20px;
}

.contact img {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  margin-right: 10px;
}

/* Country */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid #ccc;
  padding: 0 20px;
  width: 270px;
  margin: 20px;
  background-color: #d9d9d9;
}

input[type="text"] {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #d9d9d9;
}

button[type="submit"] {
  border: none;
  outline: none;
  background-color: rgba(0, 0, 139, 0.6);
  cursor: pointer;
}

button[type="submit"] img {
  height: 30px;
  padding: 5px;
}
.countries {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 20px;
}

.countries img {
  max-width: 100%;
  max-height: 100%;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pagination p {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.pagination img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

/* Universities */

.university-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
  margin: 50px auto;
}

.university {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.university img {
  width: 40%;
  height: 150px;
  margin-bottom: 10px;
}

.university-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.university-info img {
  width: 50px;
  height: auto;
  margin-right: 5px;
}

.university-info p {
  font-weight: bold;
  margin: 0;
  margin-left: 5px;
}
.student-pic {
  width: 300px;
  height: 250px;
  border-radius: 50%;
}
.arrow-logo {
  width: 60px; /* Adjust as needed */
  height: 60px; /* Adjust as needed */
  cursor: pointer;
}
.student-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.student-origin {
  display: flex;
  flex-direction: row;
}
.student-origin img {
  width: 30px;
  height: 30px;
}
.student-origin img {
  font-weight: bold;
}

.student-description {
  margin-top: 20px;
  width: 40%;
  text-align: center;
}

/* Apartments */

.apartments-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.apartments-container img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
.apartments-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
}

/* set image width to 100% to fill grid cell */
.apartments-images img {
  width: 55%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-self: center; /* center horizontally */
  align-self: center; /* center vertically */
  margin-left: 100px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 270px; /* set height to fill viewport height */
  background-color: #cfd2cf;
}
.line {
  width: 100%;
  height: 2px;
  margin: 60px 0;
  background-color: #f1f7b5;
  transform: translateY(-50%);
}

.social-media {
  margin-bottom: 15px;
  margin-left: 900px;
}
.social-media a:not(:last-child) {
  margin-right: 20px;
}
.social-media img {
  height: 30px;
  filter: invert(100%);
}
.copy p {
  color: black;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 820px;
}
.copy p::before {
  content: "|";
  margin-right: 20px;
}
.copy p:first-child::before {
  content: "";
  margin-right: 0;
}

.logo-container {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Container */
.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Typography */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

/* Input fields */
.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ddd;
  border-radius: 3px;
  outline: none;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #ffcc00;
}

/* Submit button */
.form-submit {
  width: 100%;
  padding: 10px;
  background-color: #ffcc00;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: #e6b800;
}

@media (max-width: 768px) {
  body {
    height: 100%;
  }
  .container {
    height: 85vh;
  }
  .header-content {
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .header-content img {
    margin-bottom: 10px;
  }

  .menu {
    height: auto;
    padding: 10px;
  }
  .slogan h1 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
  }

  .main-content {
    height: 60%;
  }
  footer {
    height: auto;
    padding: 20px;
  }
  .line {
    margin: 40px 0;
  }
  .main-img img {
    height: auto; /* Set height to auto to maintain aspect ratio */
  }

  .main-news {
    height: auto; /* Set height to auto to accommodate smaller screen */
  }

  .news-title h1 {
    font-size: 28px; /* Reduce font size for smaller screens */
  }

  .line-title {
    width: 40%; /* Reduce width of line for smaller screens */
  }

  .news-info {
    flex-direction: column; /* Switch to column layout for smaller screens */
    width: 100%;
  }

  .news-info-panel {
    margin: 0; /* Remove horizontal margins to fit within screen width */
  }

  .image-wrapper img {
    width: 90%; /* Set image width to 100% to fit within smaller screens */
    height: 90%; /* Set height to auto to maintain aspect ratio */
  }

  .logo-wrapper {
    width: 30px; /* Reduce logo size for smaller screens */
    height: 30px;
  }

  .contact img {
    width: 20px; /* Reduce icon size for smaller screens */
    height: 20px;
  }
  .student-pic {
    width: 150px;
    height: 120px;
  }
  .arrow-logo {
    width: 30px;
    height: 30px;
  }
  .student-info {
    margin: 10px 0;
  }
  .student-description {
    width: 80%;
  }
}

/* For screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  .main-img img {
    height: 500px; /* Reduce image height for medium screens */
  }

  .main-news {
    height: 500px; /* Reduce section height for medium screens */
  }

  .news-title h1 {
    font-size: 36px; /* Increase font size for medium screens */
  }

  .line-title {
    width: 50%; /* Reduce width of line for medium screens */
  }

  .news-info {
    flex-direction: column; /* Switch to column layout for medium screens */
    width: 100%;
  }

  .news-info-panel {
    margin: 0; /* Remove horizontal margins to fit within screen width */
  }

  .image-wrapper img {
    width: 90%; /* Set image width to 100% to fit within smaller screens */
    height: 90%; /* Set height to auto to maintain aspect ratio */
  }
  .news-info-desc {
    font-size: 12px;
    margin: 10px;
  }
  .news-title-res {
    font-size: 12px;
  }
  .logo-wrapper {
    width: 40px; /* Increase logo size for medium screens */
    height: 40px;
  }

  .contact img {
    width: 25px; /* Increase icon size for medium screens */
    height: 25px;
  }
  .main-img img {
    height: 650px; /* Restore original image height for large screens */
  }

  .main-news {
    height: 600px; /* Restore original section height for large screens */
  }

  .news-title h1 {
    font-size: 48px; /* Increase font size for large screens */
  }

  .line-title {
    width: 60%; /* Restore original width of line for large screens */
  }

  .news-info {
    flex-direction: row; /* Restore original layout for large screens */
    width: 80%;
  }

  .news-info-panel {
    margin-left: 20px; /* Restore original margins for large screens */
    margin-right: 20px;
  }
  .search-bar {
    width: 100%; /* Set width to 100% to fit within smaller screens */
    margin: 20px 0; /* Remove horizontal margin and add vertical margin */
  }

  input[type="text"] {
    font-size: 16px; /* Reduce font size for smaller screens */
  }
  .search-bar {
    width: 350px; /* Increase width for larger screens */
    margin: 20px; /* Restore original margin */
  }
  .form-container {
    width: 80%;
  }

  .logo-container {
    padding-top: 80px;
  }
  .student-pic {
    width: 250px;
    height: 200px;
  }
  .arrow-logo {
    width: 50px;
    height: 50px;
  }
  .student-info {
    margin: 10px 0;
  }
  .student-description {
    width: 60%;
  }
  .search-bar {
    width: 100%;
    margin: 20px 0;
  }

  input[type="text"] {
    font-size: 16px;
  }

  button[type="submit"] {
    padding: 10px;
  }

  button[type="submit"] img {
    height: 20px;
  }
}

@media (max-width: 480px) {
  .menu {
    padding: 5px;
  }
  .slogan h1 {
    font-size: 10px;
  }
  .main-content {
    height: 63%;
  }
  .social-media img {
    height: 25px;
  }
  .copy p {
    font-size: 14px;
    margin-left: 10px;
  }
  .line {
    margin: 30px 0;
  }
  .news-info-desc {
    font-size: 10px;
    margin: 10px;
  }
  .form-container {
    width: 70%;
    padding: 12px;
  }
  .news-title-res {
    font-size: 10px;
  }
  .logo-container {
    padding-top: 30px;
  }

  .form-input,
  .form-submit {
    font-size: 14px;
  }
  .student-pic {
    width: 120px;
    height: 100px;
  }
  .arrow-logo {
    width: 20px;
    height: 20px;
  }
  .student-info {
    margin: 5px 0;
  }
  .student-description {
    width: 90%;
    font-size: 14px;
  }
  .search-bar {
    width: 100%;
    margin: 20px 0;
    height: auto;
  }

  input[type="text"] {
    font-size: 14px;
    padding: 10px;
  }

  button[type="submit"] {
    padding: 10px;
  }
  .image-wrapper img {
    width: 90%; /* Set image width to 100% to fit within smaller screens */
    height: 90%; /* Set height to auto to maintain aspect ratio */
  }
  button[type="submit"] img {
    height: 20px;
  }
  .address {
    font-size: 14px;
    padding: 10px;
  }
  .contact {
    font-size: 14px;
    padding: 10px;
    color: #b4aee8;
  }
  .university-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .apartments-container .arrow-logo {
    height: 40px;
    width: 40px;
  }
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: -100px; /* Adjust this value to move the menu to the left */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  margin-top: 4px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #333;
  background-color: #f9f9f9;
  padding: 8px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a.active {
  background-color: #007bff;
  color: #fff;
}

.login-link {
  color: rgba(0, 0, 139, 0.6);
  font-size: 1.2em;
  text-decoration: none;
  margin-right: 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
