<main>
  <div class="search-bar">
    <input
      [(ngModel)]="searchInput"
      (ngModelChange)="onSearchChange()"
      type="text"
      placeholder="Search..."
    />
    <button type="submit">
      <img src="../assets/country-imgs/search-logo.png" alt="Seach bar logo" />
    </button>
  </div>
  <div>
    <div class="university-container">
      <div *ngFor="let university of displayedUniversities" class="university">
        <img [src]="'assets/' + university.image" alt="University" />
        <div class="university-info">
          <img
            src="../assets/universities/location-logo.png"
            alt="Location logo"
          />
          <p>{{ university.address }}</p>
        </div>
      </div>
    </div>
    <div class="pagination">
      <p>
        <img
          (click)="previousPage()"
          src="../assets/logos/arrow - Copy.png"
          alt="Seach bar logo"
          class="arrow-logo-apartment arrow-logo-apartment-margin"
        />
        {{ currentPage
        }}<img
          (click)="nextPage()"
          src="../assets/logos/arrow.png"
          alt="Seach bar logo"
          class="arrow-logo-apartment"
        />
      </p>
    </div>
  </div>
</main>
